/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');


/* main */

body {
  background-color: #D3D3D3;
  margin: 0px;
}

header{
  align-content: center;
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 14fr;
  grid-template-rows: 50px 1040px;
}
.main-nav  {
  background-color: #D3D3D3;
  padding: 0;
  border: 0;
  margin:0;
  vertical-align: top;
  color:#D3D3D3;
  text-align: center;
}

.analytics-container {
  background-color: #E0F3F6;
}

.secondary-nav{
  background-color: blue;
}

.svg-cont {
  padding:8px;

}

@media (min-width: 768px) {
  .nav {

  }
}

@media (min-width: 1024px) {
  .nav-link {

  }
}
