
.iconbox {
  height: 150px;
  display:flex;
  padding: 5%;
}
.icon {
  width:30%;
  flex-direction: column;
  align-items: center;
}
.icon img{
    width: 80px;
    height:auto;
    align-self: center;
}

.img-logo {
  height: 100%;
  width:242px;
  margin-left: auto;
  margin: auto;
}

#logo {
  width: 242px;
  margin-left: auto;
  margin-right:auto;
}
.container {
  display:block;

  height:200px;
}

.lims{
    height: 100px;
    margin-top: 20px;
    margin-left:15px;
    background-color: white;

  }


.your-class {
  height:200px;
}

.main-nav {
  // background-color: $color-White;
}

.navers {
  max-height:100px;
}

.mns{
  width:80%;
  margin-right:10%;
  margin-left:10%;
  margin-top: 0;
}

.middle{
  height: 400px;
  display:flex;
  flex-direction: column;
}
.libary {
  min-height: 400px;
}

.social{
  min-height: 100px;}

.email {
float:left;
}

.phone {
  float:right;
}

#email-i {
  padding-top:12px;
}
