
$norm-style: font-family, 'Titillium Web', sans-serif;
$heavy-text: 300;
$super-text:700;
$norm-height: 1.45em;
$norm-text: 1.5em;
$text-base-margin:10px;

.key {
  font-size:2rem;
  text-align: center;
}

.sec{
  font-size: 1rem;
  text-align: center;
}
