

$color-primary: #E0F3F6;
$color-secondary:#D3D3D3;
$color-frame: #ccc;
$color-links:#51ddfc;
$color-hover:#fff;
$color-error:#e4757a;
$color-info:#927bc1;
$color-success:#63cc82;
$color-main:#5F5D5E;
$color-wite: 	#FFFFFF;
$color-darkgray: #4d4d4d;
$watermelon:#FD5B78;

$color-inputs: #a5dbeg;
$razzle-rose:#EE34D2;
$breaker: 768px;
$biggest: 1400px;
